.movie-details-container {
  width: 100%;
}

.movie-info-section {
  position: relative;
  width: 100%;
  height: auto;
}

.movie-info-div {
  display: flex;
  gap: 3rem;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 2rem 3rem;
  border-bottom: 1px solid var(--secondary-color);
  margin-bottom: 2rem;
  z-index: 0;
}

.movie-info-div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
      to right,
      rgba(22, 22, 22, 0.9),
      rgba(22, 22, 22, 0.4)
    ),
    url("https://image.tmdb.org/t/p/w500//sItIskd5xpiE64bBWYwZintkGf3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(3px) brightness(0.6);
  z-index: -1;
}

.poster-image {
  height: 25rem;
  border: 2px solid white;
  border-radius: 10px;
}

.movie-info-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.movie-meta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.movie-meta .title {
  font-size: 2rem;
}

.movie-meta .year {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-grey);
}

.movie-meta p {
  font-size: 1rem;
}

.movie-meta .pg-rating {
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  font-weight: bold;
  letter-spacing: 1px;
  color: white;
  border: 1px solid white;
  border-radius: 2.5px;
  width: fit-content;
  padding: 0.05rem 0.25rem;
}

.movie-overview {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.movie-overview .tagline {
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 500;
  color: var(--text-grey);
}

.movie-overview p {
  font-size: 1rem;
}

.user-score-container {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-family: sans-serif;
}

.user-score {
  width: 60px;
  height: 60px;
  position: relative;
}

.circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: conic-gradient(#6ac045 74%, var(--secondary-color) 0%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-circle {
  width: 80%;
  height: 80%;
  background-color: var(--bg-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.score-text {
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
}

.score-label {
  color: white;
  font-weight: 600;
  font-size: 0.9rem;
  text-align: left;
  line-height: 1.2;
}
